body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.quiz-container {
    max-width: 1000px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.question p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: space-around;
}

.option-circle-1{
    border: 0.5;
    border-style: solid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: #32a574;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.option-circle-2{
    border: 0.5;
    border-style: solid;;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-color: #32a574;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
    margin-right: 10px;
}


.option-circle-2:hover {
    background-color: #32a574;
}

.option-circle-3{
    border: 0.5;
    border-style: solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: #32a574;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 25px;
    margin-right: 10px;
}


.option-circle-3:hover {
    background-color: #32a574;
}

.option-circle-1:focus,
.option-circle-1:active,
.option-circle-1:hover,
.option-circle-2:focus,
.option-circle-2:active,
.option-circle-2:hover,
.option-circle-3:focus,
.option-circle-3:active,
.option-circle-3:hover{
    background-color: #32a574;
    border-color: #32a574;
}

.option-circle-4{
    border: 0.5;
    border-style: solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: #4b3f72;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 25px;
    margin-right: 10px;
}


.option-circle-4:hover {
    background-color: #4b3f72;
}

.option-circle-5{
    border: 0.5;
    border-style: solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-color: #4b3f72;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
    margin-right: 10px;
}


.option-circle-5:hover {
    background-color: #4b3f72;
}

.option-circle-6{
    border: 0.5;
    border-style: solid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: #4b3f72;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.option-circle-6:hover {
    background-color: #4b3f72;
}

.option-circle-4:focus,
.option-circle-4:active,
.option-circle-4:hover,
.option-circle-5:focus,
.option-circle-5:active,
.option-circle-5:hover,
.option-circle-6:focus,
.option-circle-6:active,
.option-circle-6:hover{
    background-color: #4b3f72;
    border-color: #4b3f72;
}