body{
  background-image: url('spacepic.webp');
  background-size: 100%;
 
  background-size: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');

.image {
 
  margin-left: 800px;
}
.div {
    align-items: center;
    /* background-color: #000000; */
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    /* padding: 50px 60px;
     */
  }
  @media (max-width: 991px) {
    .div {
      padding: 0 20px;
    }
  }
  .div-2 {
    border-radius: 17px;
    background-color: rgb(23, 2, 64) transparent;
    background-blend-mode:overlay ;
    border: 3px solid rgb(83, 4, 255)transparent  ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-top: -520px;
    margin-right: 700px;
    width: 452px;
    max-width: 100%;
    flex-direction: column;
    padding: 30px 68px 16px;
    
  }
  @media (max-width: 991px) {
    .div-2 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }

  /* .div-2:hover{
    background-image : linear-gradient(0deg,#4a4384,#000000);
    animation-delay: 1000s;
  } */
  .div-3 {
    border-radius: 14px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #070132;
    align-self: center;
    width: 358px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 9px 60px;
    font: 34px Inter, sans-serif ;
    text-align: center;
  }
  @media (max-width: 991px) {
  .div-3 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-4 {
    display: flex;
    margin-top: 13px;
    padding-right: 26px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-4 {
      padding-right: 20px;
    }
  }
  .div-5 {
    align-self: end;
    margin-top: 21px;
    flex-grow: 1;
    flex-basis: auto;
    font: 20px Inter, sans-serif;
  }
  .div-6 {
    border-radius: 8px;
    border: 1px solid #181355;
    background-color: #131b70;
    align-self: start;
    aspect-ratio: 2.09;
    justify-content: center;
    white-space: nowrap;
    padding: 6px 13px;
    font: 24px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-6 {
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-7 {
    background-color: #081556;
    margin-top: 16px;
    width: 100%;
    height: 2px;
  }
  @media (max-width: 991px) {
    .div-7 {
      margin: 0 5px;
    }
  }
  .div-8 {
    margin-top: 46px;
    font: 24px Inter, sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }
  @media (max-width: 991px) {
    .div-8 {
      margin-top: 40px;
    }
  }
  .div-answer {
    border-radius: 9px;
    border: 1px solid #b5b5b5;
    background-color: #211831;
    align-self: center;
    margin-top: 10 px;
    width: 358px;
    max-width: 100%;
    justify-content: center;
    align-items: start;
    white-space: nowrap;
    padding: 12px 60px 12px 17px;
    font: 18px Inter, sans-serif;
    margin-bottom: 10px;
  }
  @media (max-width: 991px) {
    .div-answer {
      white-space: initial;
      padding-right: 20px;
    }
  }
  
.div-answer:hover {
  background-color: #11ff00; /* Darker purple on hover */
  transform: translateY(-2px); /* Slight lift effect */
  animation-delay: 1s;
}
  .div-13 {
    background-color: #081556;
    margin-top: 12px;
    height: 3px;
  }
  .div-14 {
    display: flex;
    margin-top: 14px;
    padding-right: 5px;
    justify-content: space-between;
    gap: 20px;
  }
  .div-15 {
    align-self: start;
    flex-grow: 1;
    flex-basis: auto;
    font: 24px Inter, sans-serif;
  }
  .div-16 {
    
    text-decoration: none;
    border-radius: 9px;
    background-color: #1f162e;
    white-space: nowrap;
    padding: 13px 36px 7px;
    font: 22px Inter, sans-serif;
   
  }
  .div-16:hover {
    background-color: #0a003f; /* Darker purple on hover */
    transform: translateY(-2px); /* Slight lift effect */
    animation-delay: 1s;
  }

  .div-17 {
    border-radius: 9px;
    background-color: #1a1029;
    white-space: nowrap;
    width: 25px;
    margin-left: 182px;
    margin-top: -46px;
    padding: 13px 36px 7px;
    font: 22px Inter, sans-serif; 
    align-content: center;
    
  }

  a{
    text-decoration:none ;
    color: #b5b5b5;
    justify-content: center;
    align-items: center;
    
    
  }
  @media (max-width: 991px) {
    .div-16 {
      white-space: initial;
      padding: 0 20px;
    }
  }

  